# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# ---- Virtual Environments ----
fvenv/

# ---- Environment Variables ----
.env

# ---- Flask / Instance files ----
instance/
*.db

# ---- Docker ----
*.log
docker-data/
mysql_data/
*.pid

# ---- Byte-compiled / cache ----
.cache/
pytest_cache/

# ---- IDE / Editor ----
.vscode/
.idea/
*.swp
*.swo

# ---- OS-specific files ----
.DS_Store
Thumbs.db


# Local Terraform state files
terraform.tfstate
terraform.tfstate.*

# Crash logs
crash.log
crash.*.log

# Local Terraform working directory
.terraform/
.terraform.lock.hcl

# Sensitive variable files
*.tfvars
*.auto.tfvars
*.tfvars.json


